@function primary($value) {
    @return map-get($color-primary, $value);
}

@function secondary($value) {
    @return map-get($color-secondary, $value);
}

@function accent($value) {
    @return map-get($color-accent, $value);
}

@function layout($value) {
    @return map-get($color-layout, $value);
}

@function textLight($value) {
    @return map-get($color-text-light, $value);
}

@function textDark($value) {
    @return map-get($color-text-dark, $value);
}

@function typeCircle($value) {
    @return map-get($color-type-circle, $value);
}
