$text-font-family: "proxima-nova", Helvetica, arial, x-local-body, sans-serif;
$header-font-family: "proxima-nova", Helvetica, arial, x-local-body, sans-serif;
$xxxLarge: (
    base: (
        58px,
        1.04
    ),
    medium: 52px
);

$xxLarge: (
    base: (
        42px,
        1.04
    ),
    medium: 37px
);
$xLarge: (
    base: (
        34px,
        1.15
    ),
    medium: 30px
);
$large: (
    base: (
        26px,
        1.22
    ),
    medium: 23px
);
$medium: (
    base: (
        21px,
        1.58
    ),
    medium: 18px
);
$default: (
    base: (
        14px,
        1.4
    ),
    medium: 15px
);
$small: (
    base: (
        12px,
        1.4
    ),
    medium: 13px
);
$xSmall: (
    base: (
        11px,
        1.4
    ),
    medium: 12px
);
$xxSmall: (
    base: (
        10px,
        1.4
    ),
    medium: 9px
);
$micro: (
    base: (
        8px,
        1.4
    ),
    medium: 7px
);

$black: 900;
$bold: 700;
$semi: 600;
$regular: 400;
$light: 300;
$thin: 100;

$success-color: primary(500);
$warn-color: $color-warn;
$error-color: $color-error;

$color-white: #fcfcfd;
$color-black: #12161a;

$header-height: 48px;
