h1,
h2,
h3,
h4,
h5,
h6 {
    color: textDark("primary");
    font-family: $header-font-family;
    font-weight: $bold;
    padding: 0;
    margin: 0;
    letter-spacing: -0.02em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    @include font-size($xxLarge);
}

h2 {
    @include font-size($xLarge);
}

h3 {
    @include font-size($large);
}

h4 {
    @include font-size($medium);
}

h5 {
    @include font-size($default);
}
