p {
    @include font-size($medium);

    margin: 0;
    letter-spacing: 0.01rem;
    font-weight: 500;
    color: textDark("secondary");
    word-break: break-word;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
