<template>
    <div class="home">
        <HelloWorld msg="Welcome to Vuetify" />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue";

@Component({ components: { HelloWorld } })
export default class Home extends Vue {}
</script>

<style lang="scss" scoped>
.content-container {
    min-height: 250px;
    transform: translateY(-50px);
}
</style>
